
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Yönetim Paneli";
    Layout = "_AdminLayout";
    int? id = Context.Session.GetInt32("id");
}
@if (!id.HasValue)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Oturum Aç</title>

       

        <link href="~/css/signin.css" rel="stylesheet">
    </head>
    <body class="text-center">

        <main class="form-signin">
            <form action="/Admin/Login" method="POST" autocomplete="off">
                <img class="mb-4" src="~/assets/img/login.png" alt="" width="256" height="256">

                <h1 class="h3 mb-3 fw-normal">Lütfen oturum açın</h1>
                <div>

                    <div class="form-group">
                        <input type="text" name="Email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="form-control" placeholder="Şifre" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Giriş Yap</button>
                    
                    <a style="margin-top:15px;margin-left:15px;" class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa'ya dön</a>

                </div>

                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>

    </body>
</html>

}

else
{
<h1>Hoş Geldiniz !</h1>
}

